@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

// variables
$font-family: 'Poppins', sans-serif;

$bg-primary: #152C5B;
$text-primary: #a0a0a0;
$text-secondary: #ABAB;
$heading-primary: #FFFFFF;
$blue-custom: #00ECFF;

// variable's category
$web : #E300E8;
$mobile : #AD00FF;
$design : #FA9600;
$ai : #00C608;
$data : #0055ff;
$tech : #00ECFF;

body {
  font-family: $font-family;
}

a.btn-custom-primary {
  background: linear-gradient(103.08deg, #00ECFF 15.1%, #00ABFF 82.81%);
  border-radius: 100px;
  padding: .5rem 1.25rem;
  color: $heading-primary;
  text-decoration: none;
  transition: all .5s ease-in-out;

  &:hover {
    transform: translateY(-2px);
    opacity: .8;
    box-shadow: 0 5px 50px rgba(0, 117, 141, 0.5);
  }
}

.web-color {
  background: #FFFFFF;
  border: 1px solid $web;
  color: $web;

  &:hover {
    color: $web;
  }
}

.mobile-color {
  background: #FFFFFF;
  border: 1px solid $mobile;
  color: $mobile;

  &:hover {
    color: $mobile;
  }
}

.design-color {
  background: #FFFFFF;
  border: 1px solid $design;
  color: $design;

  &:hover {
    color: $design;
  }
}

.ai-color {
  background: #FFFFFF;
  border: 1px solid $ai;
  color: $ai;

  &:hover {
    color: $ai;
  }
}

.data-color {
  background: #FFFFFF;
  border: 1px solid $data;
  color: $data;

  &:hover {
    color: $data;
  }
}

.tech-color {
  background: #FFFFFF;
  border: 1px solid $tech;
  color: $tech;

  &:hover {
    color: $tech;
  }
}


// == CARD ==

.card-post {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  transition: all .5s ease-in-out;
  padding: 1rem;

  &:hover {
    transform: scale(1.01) translateY(-5px);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
  }

  img.card-post-img {
    width: 100%;
    height: 182.76px;
    object-fit: cover;
    border-radius: 10px;
  }

  .card-post-body {
    margin-top: 1rem;

    p.card-post-author {
      padding: 0;
      margin: 0;
      margin-bottom: .5rem;
      color: $text-secondary;
    }

    a.card-post-category {
      padding: 0;
      margin: 0;
      font-size: .8rem;
      display: inline-block;
      border-radius: 183px;
      padding: .25rem .5rem;
      margin-bottom: .5rem;
      transition: all .3s ease-in-out;

      &:hover {
        opacity: .8;
      }
    }

    p.card-post-title {
      padding: 0;
      margin: 0;
      margin-bottom: .5rem;
      font-weight: 600;
      font-size: 1.25rem;
      line-height: 1.875rem;
      color: #001339;
    }

    p.card-post-text {
      padding: 0;
      margin: 0;
      margin-bottom: 1rem;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.5rem;
      color: $text-primary;
    }

    a.card-post-link {
      color: $text-primary;
      text-decoration: none;
      transition: all .3s ease-in-out;

      &:hover {
        color: $blue-custom;
      }
    }
  }
}

// ========== NAVBAR ==========
nav.navbar#my-navbar {
  background: $bg-primary;
  border-bottom: 1px solid $blue-custom;
  padding: .25rem 0 !important;
  transition: all .5s ease-in-out;

  a.navbar-brand {
    font-weight: 900;
    font-size: 2rem;
    background: linear-gradient(119.91deg, #00ABFF 3.13%, #00ECFF 92.9%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  ul.navbar-nav {
    li.nav-item {
      a.nav-link {
        color: $heading-primary;
        transition: all .3s ease-in-out;

        &:hover {
          color: $blue-custom;
        }

        &.active {
          font-weight: 500;
          color: $blue-custom;
        }
      }
    }
  }

  .dropdown {
    a.nav-link {
      color: $heading-primary;
      transition: all .3s ease-in-out;

      &:hover {
        color: $blue-custom;
      }

      &.active {
        font-weight: 500;
        color: $blue-custom;
      }
    }
  }
}

// ========== FOOTER ==========
footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: $bg-primary;
  border-top: 1px solid $blue-custom;

  .footer-heading {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1.05rem;
    margin-bottom: 1.5rem;
  }

  a.footer-link {
    font-size: 1.5rem;
    color: #FFF;

    &:hover {
      color: $blue-custom;
    }
  }

  p.footer-cop {
    margin-top: 2rem;
    color: #FFF;
  }
}

// ========== HOME ==========
.home#home {
  .home-header-section-group {
    margin-bottom: 2.5rem;

    h2.home-section-title {
      padding: 0;
      margin: 0;
      font-weight: 600;
      font-size: 2rem;
      line-height: 3.375rem;
      color: #001339;

    }
  }

  section.hero#hero {
    padding-top: 8rem;
    padding-bottom: 5rem;
    background: $bg-primary;

    p.text-quote {
      font-style: normal;
      font-weight: 600;
      font-size: 1.5rem;
      text-align: center;
      color: #FFFFFF;

      span {
        font-weight: 400;
        font-size: 1.05rem;
      }

      margin-bottom: 5rem;
    }

    .big-content-card-hero {

      img {
        border-radius: 10px;
        max-height: 338px;
        object-fit: cover;
      }

      .big-content-card-hero-body {
        margin-top: 1rem;

        p.big-content-card-author {
          font-weight: 400;
          color: $text-secondary;
          padding: 0;
          margin: 0;

          margin-bottom: .75rem;
        }

        a.big-content-card-category {
          padding: 0;
          margin: 0;
          display: inline-block;
          border-radius: 183px;
          padding: .25rem .5rem;
          margin-bottom: .75rem;
          transition: all .3s ease-in-out;

          &:hover {
            opacity: .8;
          }
        }

        p.big-content-card-title {
          font-weight: 600;
          font-size: 1.5rem;
          line-height: 2.25rem;
          color: #FFFFFF;
        }

        p.big-content-card-text {
          color: $text-primary;
          margin-bottom: .75rem;
        }

        a.big-content-card-link {
          color: $text-primary;
          transition: all .3s ease-in-out;

          &:hover {
            color: $blue-custom;
          }
        }
      }
    }

    .sub-content-card {
      // border-bottom: 1px solid #001d58;
      // padding-bottom: 1rem;

      img.sub-content-card-img {
        border-radius: 10px;
        max-height: 154px;
        object-fit: cover;
      }

      p.sub-content-card-author {
        font-weight: 400;
        color: $text-secondary;
        padding: 0;
        margin: 0;
        margin-bottom: .75rem;
      }

      a.sub-content-card-category {
        padding: 0;
        margin: 0;
        display: inline-block;
        border-radius: 183px;
        padding: .25rem .5rem;
        margin-bottom: .75rem;
        transition: all .3s ease-in-out;

        &:hover {
          opacity: .8;
        }
      }

      p.sub-content-card-title {
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 1.875rem;
        color: #FFFFFF;
      }

      a.sub-content-card-link {
        color: $text-primary;
        transition: all .3s ease-in-out;

        &:hover {
          color: $blue-custom;
        }
      }
    }
  }

  section.author-choice#author-choice {
    padding-top: 8rem;
    padding-bottom: 5rem;
  }

  section.home-category#home-category {
    padding-top: 8rem;
    padding-bottom: 5rem;
  }
}

// ========== AUTHOR ==========

.author#author {
  section.author-selection#author-selection {
    padding-top: 8rem;
    padding-bottom: 5rem;

    h2.author-title {
      padding: 0;
      margin: 0;
      font-weight: 600;
      font-size: 2rem;
      line-height: 3.375rem;
      color: #001339;
      margin-bottom: 2.5rem;
    }
  }
}

// ========== CATEGORY ==========
.category#category {
  section.category-selection#category-selection {
    padding-top: 8rem;
    padding-bottom: 5rem;
  }

  .category-card {
    overflow: hidden;
    border: none;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    transition: all .3s ease-in-out;

    &:hover {
      transform: scale(1.02) translateY(-5px);
      box-shadow: 0px 5px 100px rgba(0, 0, 0, 0.65);

      a.category-card-title {
        font-weight: 500;
      }
    }

    a.category-card-title {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 400;
      font-size: 1.5rem;
      text-align: center;
      color: #FFFFFF;
      text-decoration: none;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

// ========== POSTS ==========
.posts#posts {
  section.posts-list#posts-list {
    padding-top: 8rem;
    padding-bottom: 5rem;

    h2.posts-list-title {
      padding: 0;
      margin: 0;
      font-weight: 600;
      font-size: 2rem;
      line-height: 3.375rem;
      color: #001339;
      margin-bottom: 2.5rem;
    }
  }
}

// ========== DETAIL POST ==========
.detail-post#detail-post {
  section.detail-post-content#detail-post-content {
    padding-top: 8rem;
    padding-bottom: 5rem;

    h2.detail-post-title {
      padding: 0;
      margin: 0;
      font-weight: 600;
      font-size: 2rem;
      line-height: 3.375rem;
      color: #001339;
      margin-bottom: 2.5rem;
    }

    img.detail-post-img {
      border-radius: 10px;
      margin-bottom: 3rem;
      box-shadow: 0px 0px 50px rgba(9, 0, 78, 0.4);
      max-height: 527px;
      object-fit: cover;
    }

    p.detail-post-author {
      color: $text-secondary;
    }

    p.detail-post-title {
      margin-top: 2rem;
      margin-bottom: 2rem;
      font-style: normal;
      font-weight: 600;
      font-size: 2.25rem;
      line-height: 2.5rem;
      color: #001339;
    }

    p.detail-post-category {
      padding: 0;
      margin: 0;
      font-size: .8rem;
      display: inline-block;
      border-radius: 183px;
      padding: .25rem .5rem;
      margin-bottom: .5rem;
      transition: all .3s ease-in-out;

      &:hover {
        opacity: .8;
      }
    }

    .detail-post-body {
      color: $text-primary;
    }
  }
}